.profile-container {
    padding: 20px;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
}

.favorites-container{
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.profile-form-field {
    width: 100%
}
.form-submit-button {
    display: block;
}

.movie-cards {
    display: flex; 
    flex-wrap: wrap;
  }
  
  .single-card {
    margin: 10px 10px 10px 10px;
  }
  
  .single-card img {
    width: 100%; /* Set the desired width */
    height: 300px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the area, cropping if necessary */
  }